body{
    
    margin: 0;
    background: rgb(88, 87, 87);
}
 
p{
    font-size: 20px;
    color: rgb(187, 136, 41);
    text-shadow: 1px 1px 2px rgb(151, 117, 54);
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 30px;
    margin-left: 25px;
    color: antiquewhite;
    
}

 
.busqueda{
    margin-left: -80px;

}

.banner{

}



h1{
    margin-top: 100px;
    margin-left: 150px;
    text-shadow: 2px 2px 3px black;
    font-size: 40px;
}

h2{
    color: rgb(240, 185, 4);
   text-decoration: none;
   margin-top: 10px;
   margin-left: -10px;
}

h3{
    margin-top: 100px;
    margin-left: 150px;
    text-shadow: 3px 3px 4px black;
    font-size: 44px;
}

.poster{
    width: 300px;
    text-align: center;
}
.foo li{
    display: inline-block;
    margin-top: 10px;
    margin-right: 120px;
}
.foo a{
    font-size: 20px;
}
.input-group {
    width: 35%;
    
}
.form-control{
    margin-left: 100px;
}

.btn{
    margin-left: 10px;
}

.ini{
    color: blanchedalmond;
    margin-left: -1px;
    text-decoration: none;
    
}
.peli{
    color: blanchedalmond;
    margin-left: -70px ;
    text-decoration: none;
}
.multiple-items{
    margin-left: 150px;
}
.lazy{
    margin-left: 150px;
    
}
.pie{
    background-color: black;
    margin-top: 120px;
    height: 220px;



}
.ayuda{
    color: white;
    

}
.explorar{
    color: white;
}
.empezar{
    color: white;
}
.compañia{
    color: white;
}
.explorar h2 {
    margin-top: 14%;
    margin-left: -9px;
}
.empezar{
    margin-top: 14%;
}
.ayuda h2 {
    margin-top: 14%;
    margin-left: -9px;
}
 .compañia{
    margin-top: 14%;
 }

 .row{
    margin-left: auto;
 }



 @media (max-width: 600px){
    h1{
        margin-left: 0px;
        margin-top: -20px;
        text-align: center;
        font-size: 29px;
    }
 }
 @media (max-width: 600px){
    h3{
        margin-left: 0px;
        margin-top: 20px;
        text-align: center;
        font-size: 29px;
    }
 }
    @media (max-width: 600px){
    
.banner{
    margin-top: 0px;
    width: 400px;
    height: 350px;
    
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 20px;
    margin-top: -10px;
    }
}

    

@media (max-width: 600px){
    
    
element.style {
}
.slick-slide img {
    display: block;
    height: 300px;
}
    
    
    .lazy{
        margin-left: 52px;
   
        
    }

    .multiple-items{
        
        margin-left: 52px;
        
 }
 
 .botones{
    margin-top: 8px;
}

}
 @media (max-width: 600px){
 
    .pie{
        height: 750px;
    }
 
    .explorar{
        margin-top: 50px;
         padding: 0px 130px; 
         margin-left: -25px;
}
.empezar{
    margin-left: -25px;
   margin-top: 220px;
}
.ayuda{
   margin-left: -121px;
   margin-top: 390px
}

.compañia{
   margin-left: -215px;
   margin-top: 535px;

 }
}

 