 body{
	 background: rgb(51, 50, 50);
 }

 body.color{
	background: rgb(0, 0, 0);
 }
 
 .your-class1,
 .your-class2,
 .your-class3{
    left: 15%;
	padding: 20px 0;
    width: 75%; 
 }  

 .your-class1 a,
 .your-class2 a,
 .your-class3 a{
	width: 250px;
	height: 300px;
	display: block;
	background-size: cover;
	background-position: center;
    transition: all .7s;

 }

 .your-class1 a:hover,
 .your-class2 a:hover,
 .your-class3 a:hover{
		transition: all 3s;
		background-size: 110%;
	}
 
h1.subtitulo{
    text-align: center;
	margin-top: 100px;
    text-shadow: 2px 2px 3px black;
    font-size: 50px;
	margin-left: 0px;
}

 h3.subtitulo{
    text-align: center;
	margin-top: 50px;
    text-shadow: 1px 1px 2px rgb(31, 29, 29);
    font-size: 40px;
	margin-left: 0px;
     
 }

.flecha-izquierda,
.flecha-derecha{
    
    position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 15%;
	top: calc(100% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.flecha-izquierda:hover, .flecha-izquierda2:hover, .flecha-izquierda3:hover,
.flecha-derecha:hover, .flecha-derecha2:hover, .flecha-derecha3:hover{
    background: rgba(0,0,0, .9);
}


 .flecha-izquierda{
     
	left: 200px;
 }

 .flecha-derecha{
    right: 170px;
 }
     

 .flecha-izquierda2,
.flecha-derecha2{
    margin-top: 430px;
    position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 15%;
	top: calc(102% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}



 .flecha-izquierda2{
     
    left: 200px;
 }

 .flecha-derecha2{
	right: 170px;
 }


 .flecha-izquierda3,
.flecha-derecha3{
    margin-top: 860px;
    position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 15%;
	top: calc(104% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}



 .flecha-izquierda3{
     
     left: 200px;
 }

 .flecha-derecha3{
     right: 170px;
 }

 body{
    
    margin: 0;
    background: rgb(88, 87, 87);
}
 
p.logo{
	margin-top: 0px;
    font-size: 20px;
    color: rgb(187, 136, 41);
    text-shadow: 1px 1px 2px rgb(151, 117, 54);
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 30px;
    margin-left: 25px;
    color: antiquewhite;
    
}

 
.busqueda{
    margin-left: -80px;

}

.banner{

}




h2.pieza{
	color: rgb(240, 185, 4);
   text-decoration: none;
   margin-top: 10px;
   margin-left: -10px;
}

h3{
    margin-top: 100px;
    margin-left: 150px;
    text-shadow: 2px 2px 3px black;
    font-size: 40px;
}

.poster{
    width: 300px;
    text-align: center;
}
.foo li{
    display: inline-block;
    margin-top: 10px;
    margin-right: 120px;
}
.foo a{
    font-size: 20px;
}
.input-group {
    width: 35%;
    
}
.form-control{
    margin-left: 100px;
}

.btn{
    margin-left: 10px;
}

.ini{
    color: blanchedalmond;
    margin-left: -1px;
    text-decoration: none;
    
}
.peli{
    color: blanchedalmond;
    margin-left: -70px ;
    text-decoration: none;
}
.multiple-items{
    margin-left: 150px;
}
.lazy{
    margin-left: 150px;
	
    
}

    


.banner2{
	display: block;
    background-size: cover;
    width: 100%;
    font-size: 100px;
    height: 450px;
}



.video{
    margin-top: 220px;
}

.text-right{
    text-align: right;
    
}

h1.fondos{
        margin-top: 460px;
        color: white;
        text-shadow: 1px 1px 2px rgb(255, 255, 255);
        font-size: 30px;

}

h2.fondos2{
    margin-left: 80px;
     color: white;
     text-shadow: 1px 1px 2px rgb(235, 232, 232);
     font-size: 30px;
}

.p1{
    color: white;
        text-shadow: 1px 1px 2px rgb(255, 255, 255);
        font-size: 30px;

}
p{
    font-size: 22px;
    margin-top: -13px;
    margin-left: 0px;
    color: rgba(255, 255, 255, 0.801);
   
}

.contenido{
    font-size: 17px;
    margin-left: auto;
}

.boton{

    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 22px;
    background: red;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 12px;
    display: inline-block;
    font-size: 26px;
    padding: 10px 50px;
}

.boton:hover {background-color: #3e8e41}

.boton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.multiple-items2{
    padding: 30px 0px;
    margin-left: 80px;
    
}
.pie{
	width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: 20px;
    height: 220px;
}

.pie2{
	width: 100%;
    background-color: rgb(51, 50, 50);
    margin-top: 800px;
    height: 220px;
}
.ayuda{
    color: white;
    

}
.explorar{
    color: white;
}
.empezar{
    color: white;
}
.compañia{
    color: white;
}
.explorar.pieza{
    margin-top: 14%;
    margin-left: -9px;
}
.empezar.pieza{
    margin-top: 14%;
}
.ayuda.pieza{
    margin-top: 14%;
    margin-left: -9px;
}
 .compañia.pieza{
    margin-top: 14%;
 }

 .row{
    margin-left: auto;
 }

 
 

 @media (max-width: 600px) {
	 #flecha-izquierda1 {
		 display: none !important;
	 }
 }
 @media (max-width: 600px) {
	#flecha-derecha1 {
		display: none !important;
	}
}
 @media (max-width: 600px) {
	#flecha-izquierda2 {
		display: none !important;
	}
}
@media (max-width: 600px) {
	#flecha-derecha2 {
		display: none !important;
	}
}
@media (max-width: 600px) {
	#flecha-izquierda3 {
		display: none !important;
	}
}

@media (max-width: 600px) {
	#flecha-derecha3 {
		display: none !important;
	}
}
h1.principal{
	margin-right: 0px;
	margin-top: -20px;
	text-align: center;
	font-size: 29px;
}

@media (max-width: 600px){
h3{
	margin-left: 0px;
	margin-top: 20px;
	text-align: center;
	font-size: 29px;
}
}
@media (max-width: 600px){

.banner{
margin-top: 0px;
width: 400px;
height: 350px;

}

.navbar-expand-lg .navbar-nav .nav-link {
font-size: 20px;
margin-top: -10px;
}
}



@media (max-width: 600px){


element.style {
}
.slick-slide img {
display: block;
height: 300px;
}


.lazy{
	margin-left: 0px;

	
}

.multiple-items{
	
	margin-left: 52px;
	
}

.botones{
margin-top: 8px;
}


@media (max-width: 600px){
    
    .banner2{
       background-position: 0%;
       width: 100%;
       height: 250px;
    }
   
   h1.fondos{  
        margin-top: -60px;
       text-align: center;
       font-size: 28px;
   }
   
   h2.fondos2{
        margin-right: 50px;
        font-size: 25px;
		text-align: center;
        
       
   }
   
   .text-right{

    text-align: revert;
   }
   
   .contenido{
        font-size: 17px;
       text-align: center;
       padding: 0 24px;
   }
   
   p{
    text-align: center;
   }

   .p1{
        font-size: 22px;
   }
   
   .video{
    width: 210px;
    height: 300px;
    margin-top: 160px;
    margin-left: 90px;
   }
   
   .boton{

    margin-top: 20px;
    margin-bottom: 50px;
    background: red;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 12px;
    display: inline-block;
    font-size: 18px;
    padding: 10px 50px;
   }

   .multiple-items2{
    position: center;
	margin-left: 25px;
    
   }
   .boton:hover {background-color: #3e8e41}

    .boton:active {
     background-color: #3e8e41;
     box-shadow: 0 5px #666;
    transform: translateY(4px);
    }

    .multiple-items{
        margin-left: 0px;
    }
    .slick-slide img{
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 600px){
 
    .pie{

        height: 750px;
    }

	.pie2{
		background-color: rgb(51, 50, 50);;
		margin-top: 1200px;
        height: 750px;
    }
 
    .explorar{
        margin-top: 50px;
         padding: 0px 130px; 
         margin-left: -25px;
}
.empezar{
    margin-left: -25px;
   margin-top: 220px;
}
.ayuda{
   margin-left: -121px;
   margin-top: 390px
}

.compañia{
   margin-left: -215px;
   margin-top: 535px;

 }
}
}